/* ===================================================
*
* loading.css
* http://www.ocxers.com/demo/loading.html
* ===================================================
* Copyright 2013 Sharing.Chi
*
* Feel free to use (download, change or whatever) this plugin
* Please don't hesitate to email me if any problems
* ocxers@gmail.com
*
* ========================================================== */

.modal-backdrop
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
    opacity: 0.3;
    filter: alpha(opacity=30);
}
.modal
{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    overflow: auto;
    /* this width is your loading img's width */
    width: 100px;
    /* please change the margin-top and margin-left here 
     * make sure the margin-top equals 1/2 loading img's height 
     * and the margin-left equals 1/2 loading img's width */
    margin: -50px 0 0 -50px; 
}
